/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
  margin: 8rem auto 5rem !important

.home .hero #main-title
  display: none

.theme-container .page .content__default .logo-img {
    margin-top: 3.6rem;
    margin-bottom: 3rem;
}

.sponsors {
  display: grid;
  row-gap: 3rem;
  grid-template-columns: repeat(5,minmax(0,1fr));
  column-gap: 1rem;
  align-items: center;
}

.sponsors div {
  width: 100%;
  text-align: center;
}

.sponsors img {
  max-height: 3rem;
  vertical-align: middle;
}