/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important
  margin: 8rem auto 5rem !important

.home .hero #main-title
  display: none